/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 24px;
  text-underline-position: under;
  font-size: 18px;
  font-style: normal;
}

.header__links-list {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  list-style-type: circle;
  padding-right: 10px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list-item_no-bullet {
  list-style: none;
}
.link_active {
  text-decoration: none;
}

.address {
  justify-self: end;
  width: 267px;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.2px;
  font-style: normal;
  text-underline-position: under;
}
.cover {
  position: relative;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 179px;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  padding: 175px 50px 0 50px;
  color: white;
  letter-spacing: 0.3em;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}

.description {
  display: grid;
  grid-template-columns: 637px 256px;
  padding: 135px 50px 50px 80px;
  gap: 79px;
}

.cover__description-text {
  align-self: center;
  position: relative;
  color: white;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  text-align: justify;
  text-wrap: nowrap;
  word-spacing: 18px;
  z-index: 2;
}

.aligned-text {
  display: block;
  margin-bottom: 23px;
  line-height: 1;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin-bottom: 0;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.bet-button {
  position: relative;
  height: 50px;
  text-align: center;
  color: white;
  border-color: white;
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 2;
}

.lots {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  margin-bottom: 30px;
}

.cards {
  padding: 0 24px;
  margin-bottom: 181px;
}

.lots__heading {
  padding-left: 40px;
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  text-align: start;
}

.card_anchor {
  text-decoration: none;
}

.card__article {
  display: flex;
  flex-direction: column;
  padding: 51px 40px 48px 40px;
  min-height: 100%;
  justify-content: space-between;
}

.lots__card {
  position: relative;
  width: 334px;
  min-height: 563px;
  list-style: none;
  margin-top: 26px;
  z-index: 1;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  text-underline-position: under;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-text {
  position: relative;
  font-size: 20px;
  font-weight: normal;
  z-index: 2;
}

.card__title {
  position: relative;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}

.lots__look-more-link {
  padding: 0px 820px 0 40px;
  font-size: 20px;
  font-weight: normal;
  text-underline-position: under;
  text-underline-offset: 0.05em;
  text-align: center;
}

.about {
  padding: 0 24px 0 24px;
  margin-bottom: 182px;
}

.about__logo {
  display: flex;
  position: relative;
  background-color: black;
  border-radius: 100%;
  height: 240px;
  width: 240px;
  align-self: end;
  justify-self: center;
}

.about__logo-image {
  margin: auto;
  width: 148px;
  height: 114px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  padding-right: 24px;
}

.about__title {
  padding-top: 10px;
  align-self: center;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  grid-column: 2;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  align-self: start;
  padding-top: 8px;
}

.description__paragraph {
  padding-top: 23px;
  grid-column: 2;
}

.footer {
  margin: 0 50px 88px 50px;
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  font-size: 18px;
  text-underline-position: under;
}

.footer__address {
  justify-self: start;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
}

.footer__social-links {
  display: flex;
  justify-content: space-between;
  padding-left: 185px;
}

.footer__social-links-item {
  width: 48px;
  height: 48px;
}
